// Media block
//
//
.media {
    display: block;
    background-color: $block-background;
    border: 1px solid $primary-border-color;
    &__object {
        height: auto;
        &--full-width {
            width: 100%;
        }
        &--left {
            float: left;
            clear: right;
        }
        &--small {
            width: 50%;
        }
    }
}